include ../_mixins/_mixins

block var_block
  
doctype
html(lang='ja')
  
  head
    include ../_include/_meta
    block title_block
      title AngKyut
  
  body
    block header_block
      +header_ssl
        
    main#CONTENTS.container
      block content_block
        
    block footer_block
      +footer_ssl
        
  include ../_include/_script
