include ../_mixins/_mixins

block var_block
  
doctype
html(lang='ja')
  
  head
    include ../_include/_meta
    block title_block
      title AngKyut
  
  body
    block header_block
      +header
    
    .drawer.drawer-left.drawer-responsive
      block drawer_block
        +drawer
      
      div.drawer-overlay
        .container
            
          block navigation_block
            //-
              +navbar
          
          main#CONTENTS
            block content_block
          
        block footer_block
          +footer
          
    include ../_include/_script
