extend _template/_angkyut

block content_block
    
  .row
    .col-md-8
      h1
        可愛いから世界にイイコト広がる。
      h2
        ショッピングで変えられる未来がある。
        
      figure
        img(src='http://angkyut.com/_src/sc1862/upcycle.png')
      
      p
        | アンキュートはジュースやお菓子、飼料の袋など普段は捨てちゃうものを素材に、使い心地の良さと愛らしさを追求したアップサイクル雑貨。作り手はフィリピンの貧困層の人々。自分らしく働き生きるチャンスを世界に広げます。
      
    .col-md-4
      +about_navi
