extend _template/_angkyut

block content_block
  ol.breadcrumb
    li
      a(href="top.html")
        | Home
    li
      a(href="category.html")
        | サッキュート
    li.active
      | ライスサッククラッチ A4 D
  
  article#ARTICLE
    .row
      .col-md-6
        figure.image
          img(src="http://angkyut.com/item_picture/image/0000/0535/000_0104.jpg")
        
      .col-md-6
        h1 ライスサッククラッチ A4 D
        p フィリピンで売られているジャスミン米などのちょっと高級な香り米の袋はとってもキュート!! 
        p そんなお米の袋をほそ〜く切って折ってアミアミしたらできちゃいました☆ 
        p シンプルなジッパーで大きく開け閉めできるざっくりクラッチ。 
        p しっかり頑丈なお米の袋の素材は防水だってバッチリ!! 
        table.table
          tbody
            tr
              th
                素材
              td
                ビニール（お米の袋）
            tr
              th
                大きさ
              td
                A4サイズ　
            tr
              th
                生産者
              td
                | Samakabai
            tr
              th
                生産地
              td
                マニラ　フィリピン
        p * 全て手作りなので1点ずつ多少違います。 
        p * ごみ捨て場のお母さんたちが子どもたちの未来のためにこの雑貨作りに取り組んでいます。 
        p * 写真の形や色味は実物と多少異なることがございます。 
        p * 商品はすべてフィリピンの廃材を使用しているため、目立たない程度の傷がある場合もございます。ご了承ください。 
         
        h2.text-right 価格 ¥1,900円 
          small (税込)
        p.text-right
          | ポイント 30P
        .checkbox.text-right
          label
            input(type='checkbox')
            ギフトラッピングする +200円
        p.text-right
          a(href='cart.html').btn.btn-primary.btn-lg
            span.glyphicon.glyphicon-shopping-cart(aria-hidden='true')
            &nbsp;カートに入れる
        p.text-right
          button.btn.btn-default.btn-sm(type='button')
            span.glyphicon.glyphicon-star(aria-hidden='true')
            &nbsp;いいね
          button.btn.btn-default.btn-sm(type='button')
            span.glyphicon.glyphicon-star(aria-hidden='true')
            &nbsp;tweet
