extend _template/_angkyut

block content_block
  ol.breadcrumb
    li
      a(href="#")
        | Home
    li
      a(href="#")
        | サッキュート
    li.active
      a(href="#")
        | ライスサッククラッチ A4 D
    
  .row
    .col-md-6
      figure.image
        img(src="http://angkyut.com/item_picture/image/0000/0535/000_0104.jpg")
      
    .col-md-6
      h1 ライスサッククラッチ A4 D
      p フィリピンで売られているジャスミン米などのちょっと高級な香り米の袋はとってもキュート!! 
      p そんなお米の袋をほそ〜く切って折ってアミアミしたらできちゃいました☆ 
      p シンプルなジッパーで大きく開け閉めできるざっくりクラッチ。 
      p しっかり頑丈なお米の袋の素材は防水だってバッチリ!! 
      p ○素材：ビニール（お米の袋） 
      p ○大きさ：A4サイズ　※全て手作りなので1点ずつ多少違います。 
      p ○生産者：Samakabai　 
      p ごみ捨て場のお母さんたちが子どもたちの未来のためにこの雑貨作りに取り組んでいます。 
      p ○生産地：マニラ　フィリピン 

      p ※写真の形や色味は実物と多少異なることがございます。 
      p ※商品はすべてフィリピンの廃材を使用しているため、目立たない程度の傷がある場合もございます。ご了承ください。 
       
      h2.text-right 価格　¥1,900円（税込）
      p.text-right
        button(type="button").btn.btn-primary.btn-lg カートに入れる
