extend _template/_angkyut

block content_block
    
  .row
    .col-md-8
      h2 販売業者
      p 特定非営利活動法人ハロハロ
      p 〒164-0002 
      p 東京都中野区上高田3-1-3野田ビル3F
      
      h2 運営統括責任者
      p 成瀬 悠
      
      h2 支払方法と時期
      p 代金引換：お届け時に宅配業者へ現金決済
      p 銀行振り込み　:注文確認メールより1週間以内の決済(振り込み)
      
      h2商品代金以外の料金の説明
      p 送料　全国一律700円（北海道/沖縄は1000円）
      
      p 手数料（代金引き換えの場合）
      p 1万円未満・・・315円
      p 1万円以上3万円未満・・・420円
      p 3万円以上10万円未満・・・630円
      p 10万円以上30万円未満・・・1050円
      
      h2 販売価格
      p 各商品ページに記載
      
      h2 商品のお届け時期
      p 各商品ページに記載
      
      h2 返品・キャンセル等の対応
      p キャンセルならびに返品は商品発送後10日間以内で、未使用の場合に限って可能です。
      p キャンセル、返品については電話またはメールで連絡を承ります。
      
      h2 電話番号
      p 電話 &amp; FAX : 03-6312-7043
      p ホームページアドレス
      p http://www.halohaloproducts.com
      p メールアドレス
      p info@halohaloproducts.com
      
    .col-md-4
      +guide_navi
