extend _template/_angkyut_ssl

block content_block
  
  p.lead
    | ご購入ありがとうございました。
          
  nav
    ul.pager
      li.previous
        a(href='top.html') 
          span(aria-hidden='true') &larr;
          ショッピングを続ける
