extend _template/_angkyut

block content_block
    
  .row
    .col-md-8
      p どなた様でもインターネットでお買い物がお楽しみいただけます。ご利用になる前に以下の事項を必ずお読みになり、ご理解・ご承諾の上、ご利用いただきますようお願いいたします。
      h1 初めてご利用いただくお客様へ
      p ご利用いただくお客様や商品お届け先のお客様のお名前、お電話番号、ご住所などの個人情報を 登録させていただきます。 
      p ご登録いただいた個人情報及び投稿いただいたレビュー、アンケート結果は、ダイレクトメールや商品のご案内、お寄せいただいたご意見などに関する対応、商圏や年齢層などのマーケティング分析に利用させていただきます。 ご登録の個人情報は当社にて管理し、第三者に公開 することはありません。
      p 商品のお届け先は、日本国内のみとさせていただきます。
      h1 お買い物の流れ
      ol
        li 
          h2 ご希望の商品をカートに入れる
          p 商品を選びます。
          p 選んだ商品の「カートに入れる」ボタンをクリックします。
        li 
          h2 カートの中を確認する
          p カートの中身を確認の上「決済する」ボタンをクリックし、次へ進みます。
        li
          h2 お届け先、お支払い方法の設定
          p 注文ごとに「お届け先」や「数量」を設定します。
          p「希望お届け日時」を設定します。
        li
          h2 ご注文を完了
          p ご注文完了後、自動返信メールが届きます。
          p ※自動返信メール後の「ご注文内容のご確認メール」の配信をもちまして売買成立となります。
        li
          h2 商品発送
          p 商品発送時に「商品発送のお知らせメール」をお送りいたします。
        li
          h2 商品お届け
          p 出荷日から1 ～ 2 日程度でお届けいたします。
          p ※代金引換の場合には、商品受け取り時に代金をお支払いください。 別途代金引換手数料が必要となります。
      h1 消費税について
      p すべて消費税込の表示となります。
      h1 返品について
      p お客様都合による返品・交換は、承っておりません。
      p お届け商品がお申し込みと異なったり、汚損・配送途中の破損などの事故がございましたら、弊社までご連絡ください。
      
    .col-md-4
      +guide_navi
