extend _template/_angkyut

block content_block
  
    ul
      li
        a(href='top.html')トップページ
      li
        a(href='category.html')カテゴリーページ
      li
        a(href='article.html')個別ページ
    hr
    ul
      li
        a(href='about.html') AngKyutについて
      li
        a(href='story.html')作りたちの物語
    hr
    ul
      li
        a(href='guide.html')ご利用ガイド
      li
        a(href='agreement.html')ご利用規約
      li
        a(href='policy.html')プライバシーポリシー
      li
        a(href='commercial.html')特定商取引法に基づく表示
    hr
    ul
      li
        a(href='cart.html')カート
      li
        a(href='login.html')ご利用手続き
      li
        a(href='rule.html')新規会員登録
      li
        a(href='signup.html')サインアップ
      li
        a(href='salvage.html')パスワードを忘れた方
    hr
    ul
      li
        a(href='header.html')ヘッダーの種類
