extend _template/_angkyut

block content_block
  
    ul
      li
        a(href='top.html')トップページ
      li
        a(href='category.html')カテゴリーページ
      li
        a(href='article.html')個別ページ
    hr
    ul
      li
        a(href='cart.html')カート
      li
        a(href='addressee.html') 1.必要な情報の入力(ログイン状態)
      li
        a(href='addressee_nologin.html') 1.必要な情報の入力（未ログイン状態）
      li
        a(href='confirmation.html') 2.入力情報の確認
      li
        a(href='decision.html') 3.決済確定(ログイン状態)
      li
        a(href='decision_nologin.html') 3.決済確定（未ログイン状態）
      li
        a(href='signin.html') 会員登録終了
      li
        a(href='salvage.html')パスワードを忘れた方
      li
        a(href='profile.html')会員情報
    hr
    ul
      li
        a(href='about.html') AngKyutについて
      li
        a(href='story.html')作りたちの物語
    hr
    ul
      li
        a(href='guide.html')ご利用ガイド
      li
        a(href='agreement.html')ご利用規約
      li
        a(href='policy.html')プライバシーポリシー
      li
        a(href='commercial.html')特定商取引法に基づく表示
      li
        a(href='contact.html')お問い合わせ
    hr
    ul
      li
        a(href='header.html')ヘッダーの種類
