extend _template/_angkyut_ssl

block content_block
  .row
    .col-md-6
      h1 会員の方
      form
        .form-group
          input(type='text', class='form-control', id='loginID', placeholder='メールアドレス')
        .form-group
          input(type='password', class='form-control', id='password', placeholder='パスワード')
        button.btn.btn-default.btn-lg(type='submit') ログイン
        
      p
        a(href='salvage.html') パスワードを忘れた方
        
    .col-md-6
      h1 まだ会員登録をされていない方
      p 購入手続きをした後、会員登録ができます。
      p
        a.btn.btn-default.btn-lg(href='#') 購入手続きへ
