extend _template/_angkyut

block content_block
    
  .row
    .col-md-8
      p お客様の個人情報を適切に取り扱います。
      h2 1. 個人情報に関連する法令などの遵守
      p 個人情報の保護に関する法令などを遵守いたします。
      h2 2. 個人情報の安全管理措置の徹底
      p 個人情報を適切に管理することにより、個人情報の紛失、破壊、改ざん、漏えいおよび個人情報への不正アクセスを防止することに努めます。
      h2 3. 個人情報の適切な取り扱いの実施
      ul
        li 個人情報を収集する場合には、利用目的やお問い合わせ窓口などをお知らせいたします。 
        li 個人情報を目的の範囲内に限定して利用いたします。 
        li 個人情報を偽りその他の不正な手段により入手いたしません。 
        li 業務委託する場合やその他の正当な理由がある場合を除き、個人情報を同意を得ることなく第三者に開示または提供いたしません。 
        li 個人情報についての開示請求、訂正・削除請求、および利用停止・第三者提供中止請求の手続きを定めます。 
        li 個人情報に関するご指摘対応に取り組みます。
      h2 4.個人情報保護の取り組みに関する継続的改善の実施
      p 個人情報を適切に管理することにより、個人情報の紛失、破壊、改ざん、漏えいおよび個人情報への不正アクセスを防止することに努めます。
      h2 5.第三者事業者の広告配信について
      p google を含む第三者配信事業者によりインターネット上のさまざまなサイトに当社の広告が掲載されています。 
      p Google を含む第三者配信事業者はCookie を使用して、当ウェブサイトへの過去のアクセス情報に基づいて広告を配信します。 
      p お客様はGoogle 広告のオプトアウトページにアクセスして、Google による Cookie の使用を無効にできます（または、Network Advertising Initiative のオプトアウトページにアクセスして、第三者配信事業者による Cookie の使用を無効にできます）。 
      
      p 
        a(href='http://www.google.co.jp/privacy_ads.html') Google 広告のオプトアウトページ 
      p 
        a(href='http://www.networkadvertising.org/managing/opt_out.asp') Network Advertising Initiative のオプトアウトページ
      h2 6. 個人情報保護に関するお問合せ窓口
      p info@halohaloproducts.com
      
    .col-md-4
      +guide_navi
