extend _template/_angkyut

block content_block
  h1 ご利用規約および個人情報の取り扱いに関する同意書
  h2 1.個人情報に関連する法令などの遵守
  p ・個人情報の保護に関する法令などを遵守いたします。
  h2 2.個人情報の安全管理措置の徹底
  p ・個人情報を適切に管理することにより、個人情報の紛失、破壊、改ざん、漏えいおよび個人情報への不正アクセスを防止することに努めます。
  h2 3.個人情報の適切な取り扱いの実施
  p ・個人情報を収集する場合には、利用目的やお問い合わせ窓口などをお知らせいたします。
  p ・個人情報を目的の範囲内に限定して利用いたします。
  p ・個人情報を偽りその他の不正な手段により入手いたしません。
  p ・業務委託する場合やその他の正当な理由がある場合を除き、個人情報を同意を得ることなく第三者に開示または提供いたしません。
  p ・個人情報についての開示請求、訂正・削除請求、および利用停止・第三者提供中止請求の手続きを定めます。
  p ・個人情報に関するご指摘対応に取り組みます。
  h2 4.個人情報保護の取り組みに関する継続的改善の実施
  p ・個人情報を適切に管理することにより、個人情報の紛失、破壊、改ざん、漏えいおよび個人情報への不正アクセスを防止することに努めます。
  h2 5.ご利用規約および個人情報の取り扱いに関する同意
  p 上記の項目に同意し当サイトをご利用される場合は、ページ下の「同意する」をクリックし、ご利用開始下さい。
  nav
    ul.pager
      li.previous
        a(href='#') 
          span(aria-hidden='true') &larr;
          同意しない
      li.next
        a(href='#') 
          同意する
          span(aria-hidden='true') &rarr;
