extend _template/_angkyut_ssl

block content_block
  h3 登録した住所
  p 〒271-0068
  p 千葉県 松戸市古ケ崎3-3276-6
  p 菊地武志
  button.btn.btn-default.btn-lg 
    | この住所に送る
  
  h3 郵送する住所を別途入力する
  form.form-horizontal
    fieldset
      // Form Name
      .form-group
        label.col-sm-4.control-label お名前
        .col-sm-2
          input.form-control(type="text", placeholder="姓")
        .col-sm-2
          input.form-control(type="text", placeholder="名")
      .form-group
        label.col-sm-4.control-label 郵便番号
        .col-sm-2
          input.form-control(type="number", placeholder="000-0000")
        .col-sm-2
          button.btn.btn-default.btn-sm 郵便番号から住所を検索

      // Text input
      .form-group
        label.col-md-4.control-label(for='address_ prefecture') 住所：都道府県*
        .col-md-2
          select#data_large_area_id.form-control(name='data[large_area_id]')
            option(value='13') 東京都
            option(value='14') 神奈川県
            option(value='11') 埼玉県
            option(value='1') 北海道
            option(value='12') 千葉県
            option(value='2') 青森県
            option(value='3') 岩手県
            option(value='4') 宮城県
            option(value='5') 秋田県
            option(value='6') 山形県
            option(value='7') 福島県
            option(value='8') 茨城県
            option(value='9') 栃木県
            option(value='10') 群馬県
            option(value='15') 新潟県
            option(value='16') 富山県
            option(value='17') 石川県
            option(value='18') 福井県
            option(value='19') 山梨県
            option(value='20') 長野県
            option(value='21') 岐阜県
            option(value='22') 静岡県
            option(value='23') 愛知県
            option(value='24') 三重県
            option(value='25') 滋賀県
            option(value='26') 京都府
            option(value='27') 大阪府
            option(value='28') 兵庫県
            option(value='29') 奈良県
            option(value='30') 和歌山県
            option(value='31') 鳥取県
            option(value='32') 島根県
            option(value='33') 岡山県
            option(value='34') 広島県
            option(value='35') 山口県
            option(value='36') 徳島県
            option(value='37') 香川県
            option(value='38') 愛媛県
            option(value='39') 高知県
            option(value='40') 福岡県
            option(value='41') 佐賀県
            option(value='42') 長崎県
            option(value='43') 熊本県
            option(value='44') 大分県
            option(value='45') 宮崎県
            option(value='46') 鹿児島県
            option(value='47') 沖縄県
      // Text input
      .form-group
        label.col-md-4.control-label(for='address_city') 住所：市区群*
        .col-md-4
          input#address_city.form-control.input-md(name='address_city', type='text', placeholder='例：千代田区', required='')
      // Text input
      .form-group
        label.col-md-4.control-label(for='address_town') 住所：町村番地・ビル名*
        .col-md-4
          input#address_town.form-control.input-md(name='address_town', type='text', placeholder='神田神保町1-2-3○○○ビル', required='')
      // Text input
      .form-group
        label.col-md-4.control-label(for='phone') 電話番号*
        .col-md-4
          input#phone.form-control.input-md(name='phone', type='text', placeholder='000-0000-0000', required='')
      // Text input
      .form-group
        label.col-md-4.control-label(for='mail') メールアドレス*
        .col-md-4
          input#mail.form-control.input-md(name='mail', type='text', placeholder='xxxx@example.com', required='')
      // Text input
      .form-group
        label.col-md-4.control-label(for='mail_conform') メールアドレス（確認）*
        .col-md-4
          input#mail_conform.form-control.input-md(name='mail_conform', type='text', placeholder='xxxx@example.com', required='')
      .form-group
        label.col-md-4.control-label(for='password') 希望のパスワード*
        .col-md-4
          input#password.form-control.input-md(name='password', type='password', placeholder='', required='')
      // Password input
      .form-group
        label.col-md-4.control-label(for='password_confirm') 希望のパスワード（確認）
        .col-md-4
          input#password_confirm.form-control.input-md(name='password_confirm', type='password', placeholder='', required='')
      .form-group
        .col-md-4.col-md-offset-4
          button.btn.btn-default.btn-lg この住所に郵送する
            
