extend _template/_angkyut

block content_block
    
  .row
    .col-md-8
      h1
        | 作り手たちはフィリピンの３地域に生活する貧困層の人々です。
      
      .row
        .col-md-6
          h2 マニラ－ケソン市パヤタス
          p 巨大なゴミ山を中心に不法滞在者の集まる地域。
          p ゴミの換金、乗合バスや自転車の運転手、露天商、無職の人等がいます。
          p （現地協働団体）
          p 「パヤタス・ペアレンツ・アソシエーション」
          p 地域のお母さん・お父さんたちの集まり。自立支援事業では、伝統的な編技術や折紙技術を取り入れ魅力的な製品を生み出しています。
          p 未就学児のための無償教育を行う「パーララン・パンタオ」を応援しています。
        .col-md-6
          img(src='http://angkyut.com/_src/sc1866/4729.jpg')
      
      .row
        .col-md-6
          h2 ネグロス－西ネグロス州シライ市
          p 「砂糖の島」と呼ばれるように、ネグロス島はさとうきびを始めとした農業が盛んで、自然豊かな島です。その一方で、農村部も都市部近郊でも貨幣収入の機会が少なくなっています。
          p （現地協働団体）「タレレス　デ　ナザレ」
          p 仕事と祈りにより最貧困層の女性たちが人としての尊厳を回復し社会復帰を目指す事業を行っています。
          p マングローブの森再生事業を行う「NGO IKAW AKO」を応援。
        .col-md-6
          img(src='http://angkyut.com/_src/sc1864/448.jpg')

      .row
        .col-md-6
          h2 セブ州－タリサイ市
          p セブ市より車で30分程南下したタリサイ市の貧しい漁村や山間部地域。主に漁業や日雇い労働で不安定な生活を送る。
          p （協働団体）ブリッジオブライフ
          p 若い牧師がコミュニティリーダーとなり、貧しい人々のための草の根の自助組織を作りました。教育の機会提供や栄養食配給、生活向上事業、緊急支援事業などを運営。        .col-md-6
        .col-md-6
          img(src='http://angkyut.com/_src/sc1867/dscf3345.jpg')
      .row
        .col-md-6
          h2 ハロハロのサポートする人々
          p 1日1.25$ 以下/1人で生活する貧困レベルにおかれる人々です。
          p 例1）セブのラダ家族
          p お父さん：タクシードライバー
          p お母さん：駄菓子屋
          p 5人が生活(父・母・息子3人) →1人あたり1日120円で生活
          
          p 例2）マニラのドネール家族
          p 母子家庭で家政婦をする祖母からの仕送りで生活。
          p 食事は地域の食料配給頼り。電気はなくガスの火で生活。
          p 1ヶ月の収入 約8,000円
          p 5人が生活（母・息子・娘）→ 1人あたり1日53円
        .col-md-6
          img(src='http://angkyut.com/_src/sc1869/cimg4618.jpg')


    .col-md-4
      +about_navi
