$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
@import "variables";
// endbower

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}
.drawer-overlay {
  padding-top: 60px;
}
.drawer-main {
  padding-top: 60px;
  background-color: $sub_color;
}
.drawer-responsive{
  background-color: $sub_color;
 .container {
    @media (min-width: 768px){
      max-width: 856px;
    }
    @media (min-width: 1200px){
      max-width: 930px;
    }
  }
}
.drawer-hamburger {
  z-index: 4010;
  width: 40px;
  height: 40px;
  padding: 10px;
  .drawer-hamburger-icon,
  .drawer-hamburger-icon:before,
  .drawer-hamburger-icon:after {
    height: 2px;
    border-radius: 0;
  }
  .drawer-hamburger-icon:before {
    top: -6px;
  }
  .drawer-hamburger-icon:after {
    top: 6px;
  }
}
@media (min-width: 768px) {
  .drawer-responsive.drawer-left .drawer-main,
  .drawer-responsive.drawer-right .drawer-main{
    width: 200px !important;
  }
}
@media (min-width: 1200px) {
  .drawer-responsive.drawer-left .drawer-main,
  .drawer-responsive.drawer-right .drawer-main{
    width: 280px !important;
  }
}


/* Space out content a bit */
body {
}
#HEADER {
  z-index: 3000;
  position: fixed;
  background-color: #000;
  color: #fff;
  width: 100%;
  .text-muted {
    margin: 0;
    padding-left: 10px;
    line-height: 36px;
  }
  a:link,
  a:visited,
  a:hover {
    color: $base_color;
  }
  form {
    line-height: 36px;
  }
  &.ssl {
    position: static;
    margin-bottom: 40px;
  }
  .nav > li > a:hover,
  .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
  }
  @media (min-width: 768px) {
    border-radius: 0;
  }
  @media (max-width: 768px) {
    .navbar-brand {
      float: none;
      position: fixed;
      display: block;
      left: 50%;
      margin-left: -55px;
    }
  }
  .navbar {
    margin-bottom: 0;
  }

}
#MODAL_LOGIN_WINDOW {
  .checkbox {
    margin-bottom: 20px;
  }
  .radio input[type="radio"],
  .radio-inline input[type="radio"],
  .checkbox input[type="checkbox"],
  .checkbox-inline input[type="checkbox"]{
    margin-left: 0;
  }
}
main {
  margin-bottom: 20px;
  min-height: 480px;
}
#PICKUP {
  margin: 30px 0 0;
}

footer {
  border-top: 1px dotted $main_color;
  padding: 20px 15px;
  color: $main_color;
  h1 {
    font-size: 14px;
    margin-left: 10px;
  }
  ul{
    li {
      list-style-type: square;
    }
  }
  a:link, a:visited, a:hover {
  color: $main_color;

  }
  .copyright {
    padding: 0px;
  }
}

.container-narrow > hr {
    margin: 30px 0;
}
.carousel-inner>.item>img,
.carousel-inner>.item>a>img{
  width: 100%;
}


.form-control.inline {
  display: inline-block;
  width: auto;
}
.image {
  img {
    width: 100%;
    height: auto;
  }
}

#PICK_UP {
  h3 {
    margin: 0 0 30px;
    font-size: 20px;
  }
  .thumbnail {
    border: 0;
    > figure {
      text-align: center;
      > img {
        width: 100%;
        height: auto;
      }
    }
  }
  .price {
    text-align: right;
  }
}

#CATEGORIES {
  ul {
    li {
      width: 260px;
      float: left;
    }
  }
}

#ARTICLE {
  h1 {
    font-size: 28px;
    margin: 0 0 20px;
  }
  h2 {
    font-size: 24px;
  }
}

#DRAWER {
  h1 {
    font-size: 16px;
    margin-left: 15px;
  }
  figure {
    margin-left: 15px;
    margin-bottom: 15px;
    img {
      width: 250px;
      height: 50px;
      @media (max-width: $drawer_xl) {
        width: 170px;
        height: auto;
      }
    }
  }
  .drawer-default .drawer-menu-item {
    font-size: 14px;
  }
}
#CART_TABLE {
  input[type='number']{
    width: 4em;
  }
}
#CRUMBS{
  margin: 30px 0 0;
  z-index: 1;
  > ul {
    overflow: hidden;
    width: 100%;
    padding: 0;
    > li {
      color: #fff;
      list-style: none;
      text-align: center;
      float: left;
      position: relative;
      background-color: #cfcfcf;
      line-height: 42px;
      vertical-align: middle;
      width: 33%;
      &:first-child{
        width: 34%;
      }
      &.now {
        background: #02ceb9;
        color: #fff;
        > span {
          font-weight: bold;
        }
        &:after{
          border-left-color: #02ceb9;
        }
      }
      &:last-child:before,
      &:last-child:after{
        content: none;
      }
      &:after,
      &:before{
      	border-top: 26px solid transparent;
      	border-bottom: 26px solid transparent;
      	content:"";
      	height: 0;
      	position: absolute;
      	top: -5px;
      	width: 0;
      }
      &:before {
      	border-left: 20px solid #FFF;
      	right: -24px;
      	z-index: 2;
      }
      &:after {
      	border-left: 20px solid #cfcfcf;
      	color: #FFF;
      	right: -20px;
      	z-index: 3;
      }
    }
  }

}
