$icon-font-path: "../../bower_components/bootstrap-sass-official/assets/fonts/bootstrap/";

// bower:scss
@import "../../bower_components/bootstrap-sass-official/assets/stylesheets/bootstrap.scss";
@import "variables";
// endbower

.cf:before,
.cf:after {
    content: " ";
    display: table;
}

.cf:after {
    clear: both;
}

.cf {
    *zoom: 1;
}
.drawer-overlay {
  padding-top: 60px;
}
.drawer-main {
  padding-top: 60px;
  background-color: $sub_color;
}
.drawer-responsive{
  background-color: $sub_color;
 .container {
    @media (min-width: 768px){
      max-width: 856px;
    }
    @media (min-width: 1200px){
      max-width: 930px;
    }
  }
}

/* Space out content a bit */
body {
}
#HEADER {
  z-index: 3000;
  position: fixed;
  background-color: #000;
  color: #fff;
  width: 100%;
  .text-muted {
    margin: 0;
    padding-left: 10px;
    line-height: 36px;
  }
  a:link,
  a:visited,
  a:hover {
    color: $base_color;
  }
  form {
    line-height: 36px;
  }
  &.ssl {
    position: static;
    margin-bottom: 40px;
  }
  .nav > li > a:hover,
  .nav > li > a:focus {
    text-decoration: none;
    background-color: transparent;
  }

}
main {
  margin-bottom: 20px;
  min-height: 480px;
}
#PICKUP {
  margin: 30px 0 0;
}

footer {
  border-top: 1px dotted $main_color;
  padding: 20px 15px;
  color: $main_color;
  h4 {
    margin-left: 10px;
  }
  ul{
    li {
      list-style-type: square;
    }
  }
  a:link, a:visited, a:hover {
  color: $main_color;

  }
  .copyright {
    padding: 0px;
  }
}

.container-narrow > hr {
    margin: 30px 0;
}
.carousel-inner>.item>img,
.carousel-inner>.item>a>img{
  width: 100%;
}

.navbar-nav {
  float:none;
  > li {
    float: left;
    width: 20%;
    text-align: center;
    a {
      white-space: nowrap;
    }
  }

}
.form-control.inline {
  display: inline-block;
  width: auto;
}
.image {
  img {
    width: 100%;
    height: auto;
  }
}

#PICK_UP {
  h3 {
    margin: 0 0 30px;
    font-size: 20px;
  }
  .thumbnail {
    border: 0;
    > figure {
      text-align: center;
      > img {
        width: 100%;
        height: auto;
      }
    }
  }
  .price {
    text-align: right;
  }
}

#CATEGORIES {
  ul {
    li {
      width: 260px;
      float: left;
    }
  }
}

#ARTICLE {
  h1 {
    font-size: 28px;
    margin: 0 0 20px;
  }
  h2 {
    font-size: 24px;
  }
}

#DRAWER {
  h1 {
    font-size: 16px;
    margin-left: 15px;
  }
  figure {
    margin-left: 15px;
    margin-bottom: 15px;
  }
  .drawer-default .drawer-menu-item {
    font-size: 14px;
  }
}
