meta(charset='utf-8')
meta(name='description', content='')
meta(name='viewport', content='width=device-width, initial-scale=1')
// Place favicon.ico and apple-touch-icon.png in the root directory
link(rel='icon', type='image/vnd.microsoft.icon', href='/favicon.ico')
// build:css styles/vendor.css
// bower:css
// endbower
// endbuild
// build:css({.tmp,app}) /css/main.css
link(rel='stylesheet', href='/css/main.css')
// endbuild
// build:js scripts/vendor/modernizr.js
script(src='bower_components/modernizr/modernizr.js')
// endbuild
