mixin drawer
  header#DRAWER(role='banner')
    .drawer-header
      button.drawer-toggle.drawer-hamburger(type='button')
        span.sr-only toggle navigation
        span.drawer-hamburger-icon
    .drawer-main.drawer-default
      figure
        a(href='category.html')
          img(src='http://g-ec2.images-amazon.com/images/G/09/fashion_14/08_X-FSN/foil650_timesale_0404._V340547663_.png', height='50', width='250')
      figure
        a(href='article.html')
          img(src='http://www.ethicalfashionjapan.com/wp/wp-content/uploads/2013/12/fair-trade-boy.jpg', height='50', width='250')
      nav.drawer-nav(role='navigation')
        h1 カテゴリタイトル
        ul.drawer-menu
          li.drawer-menu-item
            a(href='category.html') カテゴリ名
          li.drawer-menu-item
            a(href='category.html') カテゴリ名
          li.drawer-menu-item
            a(href='category.html') カテゴリ名
          li.drawer-menu-item
            a(href='category.html') カテゴリ名
          li.drawer-menu-item
            a(href='category.html') カテゴリ名
        h1 カテゴリタイトル
        ul.drawer-menu
          li.drawer-menu-item
            a(href='category.html') カテゴリ名
          li.drawer-menu-item
            a(href='category.html') カテゴリ名
          li.drawer-menu-item
            a(href='category.html') カテゴリ名
          li.drawer-menu-item
            a(href='category.html') カテゴリ名
          li.drawer-menu-item
            a(href='category.html') カテゴリ名
