mixin footer()
  footer
    .row
      .col-lg-3.col-md-3.col-sm-6.col-xs-12
        h4
          a(href='#') AngKyutについて
        ul
          li
            a(href='#') 作りたちの物語
          li
            a(href='#') 社会への貢献について
          li
            a(href='http://www.npohalohalo.org/', target='_blank') 特定非営利活動法人ハロハロ
      .col-lg-3.col-md-3.col-sm-6.col-xs-12
        h4
          a(href='#') 製品ラインナップ
        ul
          li
            a(href='#') Trashion by.FrancisSollano
          li
            a(href='#') クラッチ
          li
            a(href='#') オリガミ
          li
            a(href='#') サッキュート
          li
            a(href='#') ランチバッグ
          li
            a(href='#') クーラーバッグ(保冷温)
          li
            a(href='#') バッグインバッグ
          li
            a(href='#') ポーチ
          li
            a(href='#') ペンケース
          li
            a(href='#') PCケース(ノート)
          li
            a(href='#') PCバッグ
          li
            a(href='#') ブックカバー
          li
            a(href='#') パスポートケース
          li
            a(href='#') コインケース
          li
            a(href='#') カードケース
          li
            a(href='#') キーカバー
          li
            a(href='#') ポケットティッシュケース
          li
            a(href='#') フェアトレードボーイ
          li
            a(href='#') SALE　-セール-
      .col-lg-3.col-md-3.col-sm-6.col-xs-12
        h4
          a(href='#') 会員登録
      .col-lg-3.col-md-3.col-sm-6.col-xs-12
        ul
          li
            a(href='#') ご利用ガイド
          li
            a(href='#') ご利用規約
          li
            a(href='#') プライバシーポリシー
          li
            a(href='#') 特定商取引法に基づく表示
    p.copyright
      small Copyright 特定非営利活動法人ハロハロ. All Rights Reserved.
