mixin footer()
  footer
    .container
      .row
        .col-lg-3.col-md-3.col-sm-4.col-xs-12
          h1
            送料について
          p
            日本全国一律630円
          p
            |3,240円（税込）以上のお買い上げで送料無料
        .col-lg-3.col-md-3.col-sm-4.col-xs-12
          h1
            お問い合わせ
          p
            |WEB上からのお問い合わせは
            a(href='contact.html')
              |お問い合わせ
            |のページよりご連絡ください。
          p
            |E-MAIL:
            a(href='email:info@halohaloproducts.com') info@halohaloproducts.com
          p
            |PHONE:03-5779-7505
            br
            |（月～金：午前10時～午後6時　※土・日・祝日を除く）
        .col-lg-3.col-md-3.col-sm-4.col-xs-12
          h1
            お支払いについて
          p
            お支払いはクレジットカード・代金引換がご利用いただけます。
          p
            詳しくはご利用ガイドをご参照ください。
        .col-lg-3.col-md-3.col-sm-4.col-xs-12
          h1
            返品について
          p
            商品到着後8日以内、未使用品に限り、送料お客様負担の返品可能です。
          p
            （書籍など一部返品不可能な商品もございます。詳しくはご利用ガイドをご参照ください。）
      p.copyright
        small Copyright 特定非営利活動法人ハロハロ. All Rights Reserved.

mixin footer_ssl()
  footer
    p.copyright
      small Copyright 特定非営利活動法人ハロハロ. All Rights Reserved.
