mixin guide_navi
  ul
    li
      a(href='guide.html') ご利用ガイド
    li
      a(href='agreement.html') ご利用規約
    li
      a(href='policy.html') プライバシーポリシー
    li
      a(href='commercial.html') 特定商取引法に基づく表示
