mixin header()
  header#HEADER
    ul.nav.nav-pills.pull-right
      li
        form.form-inline
          .form-group
            label.sr-only(for='InputSearch') 検索
            .input-group
              input#InputSearch.form-control.input-sm(type='search', placeholder='検索')
              .input-group-addon
                span.glyphicon.glyphicon-search
      li
        a(href='#') 
          span.glyphicon.glyphicon-user
          |&nbsp;苗字名前様 300P
      li
        a(href='cart.html') 
          span.glyphicon.glyphicon-shopping-cart
          |&nbsp;3点 &yen;5,000
    h3.text-muted
      a(href='top.html')
        img(src='images/logo_angkyut_white.svg', height='20')

mixin header_ssl()
  header#HEADER.ssl
    ul.nav.nav-pills.pull-right
      li
        a(href='#') 
          span.glyphicon.glyphicon-user
          |&nbsp;苗字名前様 300P
      li
        a(href='cart.html') 
          span.glyphicon.glyphicon-shopping-cart
          |&nbsp;3点 &yen;5,000
    h3.text-muted
      a(href='top.html')
        img(src='images/logo_angkyut_white.svg', height='20')
