mixin header()
  header
    ul.nav.nav-pills.pull-right
      li
        a(href='#') Home
      li
        a(href='#') AngKyutについて
      li
        a(href='#') ご利用ガイド
      li
        a(href='#') 製品ラインナップ
      li
        a(href='#') 会員登録
    h3.text-muted
      a(href='#')
        img(src='images/logo_angkyut.svg', width='150')
